#clockContainer{  
    position: relative;
    margin: auto;
    height: 20vw;
    width: 20vw; 
    background: url('https://by3302files.storage.live.com/y4mE7oqx1uIypg7eeh1KVOuzVrkDdmt8H8lNPxLNB3gw4nnIevYo8DR-CInBcPC5AGZNwd_9GrjK5151ZSESGFPl1PnPg7OzYLlBjnJd6eo6WwrmgXZZlLZ-58aPJQcHqzqQMPbw9ULHBK2-jjJwOc8RAk9L43237AM9bH8M_066VTK1Zg1AETPS6Ktab3Jzp0X?width=225&height=225&cropmode=none') no-repeat;
    background-size: 100%;
    
  }
  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=IBM+Plex+Sans+Condensed:wght@100&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;1,100&family=Yuji+Syuku&display=swap');
  
  #hour, #minute, #second{
    position: absolute;
    background-image: url('https://by3302files.storage.live.com/y4mCFSs8X7NuvoQt2am1gmIsKqhBJvCvuwL_P1svZxZ2Gb0KHu2f4tEIjeoFU2MDdgUCcxSQby0ce2_GFz-29Xw0GxIsuskltZw2ix_6DRphSpklB2y6709frcePcAuYVAkYMwlazf8GJladqeHf87Wsi2wp1uMjHJFp4u0NTRyK7ygUoCXzzjF1p0uAW47D2_v?width=1920&height=1080&cropmode=none');
    border-radius: 10px; 
    transform-origin: bottom;
  }
  #hour{
    width: 1%;
    height: 16%;
    top: 25%;
    left: 49.80%;
    opacity: 0.8;  
  }
  #minute{
    width: 1%;
    height: 18%;
    top: 20%;
    left: 48.9%;
    opacity: 0.8;  
  }
  #second{
    width: 1%;
    height: 27%;
    top: 13%;
    left: 49.25%;
    opacity: 0.8; 
    
  }
  body{
    padding: 0;
  margin: 0;
  background-image: url('https://by3302files.storage.live.com/y4mCFSs8X7NuvoQt2am1gmIsKqhBJvCvuwL_P1svZxZ2Gb0KHu2f4tEIjeoFU2MDdgUCcxSQby0ce2_GFz-29Xw0GxIsuskltZw2ix_6DRphSpklB2y6709frcePcAuYVAkYMwlazf8GJladqeHf87Wsi2wp1uMjHJFp4u0NTRyK7ygUoCXzzjF1p0uAW47D2_v?width=1920&height=1080&cropmode=none');
}
.clock{
  font-size: 20px;
  border-radius: 40px;
  border:1px solid orange;
  color: orange;
  font-family: 'Petemoss', cursive;
  text-align: center
}